<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head data-th-replace="~{/layouts/header :: head}"></head>
<body>
	<header data-th-replace="~{/layouts/header :: header}"></header>

	<div class="container principal mt-4">
		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-8 col-sm-12">
				<h2
					data-th-text="${edicion} ? 'Modificar Carrera' : 'Nueva Carrera'"></h2>
				<form
					data-th-action="${edicion} ? @{/carrera/modificar} : @{/carrera/guardar}"
					th:object="${carrera}" method="post">
					<div class="mb-3">
						<label for="codigo" class="form-label">Codigo</label> <input
							type="number" class="form-control" id="codigo"
							th:field="*{codigo}" th:disabled="${edicion} ? true : false">
						<input type="hidden" class="form-control" id="codigo"
							th:field="*{codigo}" th:if="${edicion}">
					</div>
					<div class="mb-3">
						<label for="nombre" class="form-label">Nombre</label>
						<input type="text" class="form-control" id="nombre" th:field="*{nombre}" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
                        <p class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
					</div>
					<div class="mb-3">
						<label for="cantAnios" class="form-label">Cantidad de años</label>
						<input type="number" class="form-control" id="cantAnios"th:field="*{cantAnios}" th:classappend="${#fields.hasErrors('cantAnios')} ? 'is-invalid' : ''">
						<p class="form-text text-danger" th:if="${#fields.hasErrors('cantAnios')}" th:errors="*{cantAnios}"></p>
					</div>
					<div class="mb-3" th:if="${edicion}">
						<h5>Estado</h5>
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox"
								th:field="*{estado}" role="switch" id="estadoSwitch"
								name="estadoSwitch" onchange="toggleEstadoText(this)"> <span
								id="estadoText" class="ms-2"
								th:text="*{estado} ? 'Activa' : 'Inactiva'"></span>
						</div>
					</div>
					<button type="submit" class="btn btn-primary"
						th:value="${edicion} ? 'Modificar' : 'Guardar'"
						th:text="${edicion} ? 'Modificar' : 'Guardar'"></button>
				</form>
			</div>
		</div>
	</div>

	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>