@charset "UTF-8";

.tituloUnju {
	color: rgba(0, 88, 92, 255);
	font-size: 3em;
	font-weight: bold;
	text-align: left;
}

.eslogan {
	color: rgba(0, 88, 92, 255);
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

header {
	background-color: gray;
	padding: 20px 0;
}

.menu {
	background-color: rgba(239, 218, 163, 255);
}

.principal {
	font-weight: bold;
	text-align: left;
}

aside {
	color: white;
	background-color: rgba(121, 188, 195, 255);
}

.pie {
	color: white;
	background-color: gray;
}

footer {
	text-align: center;
	padding: 20px 0;
}

.social img {
	width: 30px;
	height: 30px;
}

@media ( max-width : 768px) {
	.tituloUnju {
		font-size: 1.5em;
	}
	.eslogan {
		font-size: 1em;
	}
	.navbar-expand-lg .navbar-collapse {
		flex-direction: column;
	}
	.navbar-nav {
		width: 100%;
		text-align: center;
	}
	.navbar-nav .nav-item {
		width: 100%;
	}
}