<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head data-th-replace="~{/layouts/header :: head}"></head>
  <body>
    <header data-th-replace="~{/layouts/header :: header}"></header>
    
    <div class="container principal mt-4">
      <div class="row justify-content-center mb-3">
        <div class="col-12 text-end">
          <a class="btn btn-primary" data-th-href="@{/docente/alta}" role="button">Nuevo Docente</a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th scope="col">Legajo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr data-th-each="doc : ${docentes}">
                <th data-th-text="${doc.legajo}"></th>
                <td data-th-text="${doc.nombre}"></td>
                <td data-th-text="${doc.apellido}"></td>
                <td data-th-text="${doc.telefono}"></td>
                <td>
                  <a class="btn btn-warning btn-sm" data-th-href="@{/docente/modificar/}+${doc.legajo}" role="button">Editar</a>
                  <a class="btn btn-danger btn-sm" data-th-href="@{/docente/eliminar/}+${doc.legajo}" role="button">Eliminar</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <footer data-th-replace="~{/layouts/footer :: footer}"></footer>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
