<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head data-th-replace="~{/layouts/header :: head}"></head>
<body>
	<header data-th-replace="~{/layouts/header :: header}"></header>
	<div class="container principal mt-4">
		<div class="row">
			<aside class="col-12 col-md-2 mb-4 mb-md-0">
				<h3>Enlaces Relacionados</h3>
				<ul>
					<li><a href="https://www.fi.unju.edu.ar/">Facultad de
							Ingenieria</a></li>
					<li><a href="https://www.fhycs.unju.edu.ar/">Facultad de
							Humanidades</a></li>
					<li><a href="https://www.fce.unju.edu.ar/">Facultad de
							Ciencias Económicas</a></li>
				</ul>
			</aside>
			<main class="col-12 col-md-10">
				<section>
					<h2>UNJU</h2>
					<p>La Universidad Nacional de Jujuy (UNJu) es una institución
						pública de educación superior ubicada en la provincia de Jujuy,
						Argentina. Fundada el 13 de febrero de 1973, la UNJu se destaca
						por su compromiso con la formación académica y la investigación en
						diversas áreas del conocimiento.</p>
					<p>La universidad cuenta con varias facultades, entre las que
						se incluyen la Facultad de Ingeniería, la Facultad de Humanidades
						y Ciencias Sociales, la Facultad de Ciencias Agrarias y la
						Facultad de Ciencias Económicas. Ofrece una amplia gama de
						carreras de grado y posgrado, abarcando disciplinas como
						ingeniería, ciencias sociales, ciencias económicas, agronomía, y
						más.</p>
					<p>Además, la UNJu promueve la investigación científica y
						tecnológica a través de numerosos centros e institutos de
						investigación. La universidad también juega un papel importante en
						la extensión universitaria, vinculando sus actividades académicas
						y de investigación con las necesidades de la comunidad local y
						regional.</p>
					<p>La UNJu se destaca por su enfoque en la preservación del
						medio ambiente y el desarrollo sostenible, temas de particular
						relevancia en la región de Jujuy. Con un fuerte compromiso social
						y una perspectiva inclusiva, la universidad busca contribuir al
						desarrollo integral de la sociedad jujeña y del noroeste
						argentino.</p>
				</section>
				<section>
					<h2>Noticias</h2>
					<article>
						<h3>Luego de la reunión con autoridades nacionales el CIN
							emitió un comunicado</h3>
						<p>El Comité Ejecutivo ampliado del Consejo Interuniversitario
							Nacional (CIN), se reunió con el Secretario de Educación, Carlos
							Torrendell y el subsecretario de Políticas Universitarias,
							Alejandro Álvarez para retomar la agenda de trabajo en torno a la
							actualización del presupuesto universitario 2024.</p>
					</article>
					<article>
						<h3>Invitan al conversatorio "Hospitalidad en la Experiencia
							del Cliente"</h3>
						<p>La Coordinación de la Carrera de la Licenciatura en Turismo
							de la Universidad Nacional de Jujuy, junto a las Cátedras de la
							Expansión El Carmen invitaron a las personas interesadas a
							participar del Conversatorio "Hospitalidad en la Experiencia del
							Cliente", el próximo 29 de mayo en la sede El Carmen en Calle
							Coronel Arias esq. Av. 9 de Julio.</p>
					</article>
					<article>
						<h3>Se encuentran abiertas las inscripciones para el Curso de
							Actualización en Agricultura Sustentable</h3>
						<p>A partir del 13 de junio se desarrollará el Curso de
							Actualización en Agricultura Sustentable, con el objetivo de
							acercar a las personas interesadas herramientas e información
							actualizada para avanzar en tipos de producción que no dañen los
							suelos ni malgasten recursos esenciales como el agua.</p>
					</article>
				</section>
			</main>
		</div>
	</div>
	<div class="container pie mt-4">
		<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
	</div>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>